<a href="https://colab.research.google.com/github/Deepikapanchakarla/FML/blob/main/Irispractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [4]:
data=pd.read_csv('/iris.csv')
print(data.head());

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [6]:
print(data.shape)
print(data.describe())

(150, 5)
       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [7]:
print(data.info())
print(data.dtypes)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None
sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [8]:
data.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [10]:
data2=data.drop_duplicates(subset="species",)
data2

     sepal_length  sepal_width  petal_length  petal_width     species
0             5.1          3.5           1.4          0.2      setosa
50            7.0          3.2           4.7          1.4  versicolor
100           6.3          3.3           6.0          2.5   virginica

In [12]:
data.value_counts("species")

species
setosa        50
versicolor    50
virginica     50
dtype: int64

In [21]:
# importing packages
import seaborn as sns
import matplotlib.pyplot as plt
 
 
sns.countplot(x='species', data2=data, )
plt.show()

ValueError: ignored

In [22]:
data2.corr(method='pearson')

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.999226      0.795795     0.643817
sepal_width      -0.999226     1.000000     -0.818999    -0.673417
petal_length      0.795795    -0.818999      1.000000     0.975713
petal_width       0.643817    -0.673417      0.975713     1.000000